/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            w1: onewire {
                compatible = "w1-gpio";
                pinctrl-names = "default";
                pinctrl-0 = <&w1_pins>;
                gpios = <&gpio 4 0>;
                status = "okay";
                overdrive_mode = <1>; // Default overdrive mode enabled

                // Default timing values for 1-Wire communication (in nanoseconds)
                // These values are inspired by the article from Analog Devices:
                // https://www.analog.com/en/resources/technical-articles/1wire-communication-through-software.html
                w1_delay_values = /bits/ 64 <
                    6000    1000    // Initialization low pulse duration and release
                    64000   7500    // Presence detect wait and sample
                    60000   7500    // Recovery time between commands
                    10000   5000    // Write 1 low pulse and recovery
                    9000    1000    // Write 0 low pulse and recovery
                    55000   7000    // Read low pulse and sample
                    0       2500    // Bus idle time between operations
                    480000  50000   // Initialization high pulse duration and recovery
                    70000   10000   // Overdrive initialization low pulse and release
                    485000  50000   // Overdrive presence detect wait and sample
                >;

                // Average timing values for writing bits (in nanoseconds)
                write_bit_0_avg_ns = /bits/ 64 <500>; // Average time to write a '0' bit
                write_bit_1_avg_ns = /bits/ 64 <500>; // Average time to write a '1' bit

                // Average timing values for reading bits (in nanoseconds)
                read_bit_avg_ns = /bits/ 64 <300>; // Average time to read a bit
            };
        };
    };

    fragment@1 {
        target = <&gpio>;
        __overlay__ {
            w1_pins: w1_pins {
                brcm,pins = <4>;
                brcm,function = <0>; // in (initially)
                brcm,pull = <0>; // off
            };
        };
    };

    __overrides__ {
        gpiopin = <&w1>,"gpios:4",
                  <&w1>,"reg:0",
                  <&w1_pins>,"brcm,pins:0",
                  <&w1_pins>,"reg:0";
        overdrive_mode = <&w1>,"overdrive_mode:0"; // Overdrive mode as an integer (1 for true, 0 for false)
        pullup; // Silently ignore unneeded parameter
    };
};
